In [45]:
import pandas as  pd
import numpy as np

In [46]:
df=pd.read_csv("/workspaces/machine-learning-python-template-ds-Julio/data/raw/emails.csv")
df

,text,spam,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,Subject: naturally irresistible your corporate...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject: the stock trading gunslinger fanny i...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject: unbelievable new homes made easy im ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Subject: 4 color printing special request add...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Subject: do not have money , get software cds ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5726,"Subject: re : receipts from visit jim , than...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,Subject: re : enron case study update wow ! a...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5728,"Subject: re : interest david , please , call...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729,Subject: news : aurora 5 . 2 update aurora ve...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5730,Subjecet : Congratulation. Hi Harsh You have b...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.shape

(5731, 110)

In [48]:
df=df.iloc[:,0:2]

In [49]:
df.isnull().sum()

text    0
spam    2
dtype: int64

In [50]:
# dropping null rows

df.dropna(inplace=True)

In [51]:
df.drop_duplicates(inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5696 entries, 0 to 5730
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5696 non-null   object
 1   spam    5696 non-null   object
dtypes: object(2)
memory usage: 133.5+ KB

In [53]:
df["spam"]=df['spam'].apply(lambda x:"text_result" if len(x) > 1 else x )
df=df[df["spam"]!= "text_result"]

In [54]:
df['spam'] = df['spam'].astype('int')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5694 entries, 0 to 5730
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5694 non-null   object
 1   spam    5694 non-null   int64
dtypes: int64(1), object(1)
memory usage: 133.5+ KB

In [56]:
df.iloc[15].text

'Subject: search engine position  be the very first listing in the top search engines immediately .  our company will now place any business with a qualified website  permanently at the top of the major search engines guaranteed never to move  ( ex : yahoo ! , msn , alta vista , etc . ) . this promotion includes unlimited  traffic and is not going to last long . if you are interested in being  guaranteed first position in the top search engines at a promotional fee ,  please contact us promptly to find out if you qualify via email at  searchl 1 @ telefonica . net . pe it \' s very important to include the url ( s ) if you  are interested in promoting ! ! ! this is not pay per click . examples will  be provided .  this promotion is only valid in the usa and canada .  sincerely ,  the search engine placement specialists  if you wish to be removed from this list , please respond to the following  email address and type the word " remove " in your subject line :  search 6 @ speedy . com . pe'

In [57]:
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5726  Subject: re : receipts from visit  jim ,  than...     0
5727  Subject: re : enron case study update  wow ! a...     0
5728  Subject: re : interest  david ,  please , call...     0
5729  Subject: news : aurora 5 . 2 update  aurora ve...     0
5730  Subjecet : Congratulation. Hi Harsh You have b...     0

[5694 rows x 2 columns]

In [58]:
def rem_special_chars(text):
    new_text=""
    for i in text:
        if i.isalnum() or i == "":
            new_text +=i
    return new_text.strip()

In [59]:
df['text']=df['text'].apply(rem_special_chars)

In [60]:
df

                                                   text  spam
0     Subjectnaturallyirresistibleyourcorporateident...     1
1     Subjectthestocktradinggunslingerfannyismerrill...     1
2     Subjectunbelievablenewhomesmadeeasyimwantingto...     1
3     Subject4colorprintingspecialrequestadditionali...     1
4     Subjectdonothavemoneygetsoftwarecdsfromheresof...     1
...                                                 ...   ...
5726  Subjectrereceiptsfromvisitjimthanksagainforthe...     0
5727  Subjectreenroncasestudyupdatewowallonthesameda...     0
5728  Subjectreinterestdavidpleasecallshirleycrensha...     0
5729  Subjectnewsaurora52updateauroraversion52thefas...     0
5730  SubjecetCongratulationHiHarshYouhavebeenincuba...     0

[5694 rows x 2 columns]

In [61]:
text = "subject: naturally irresistible your corporate identity  lt is really hard to recollect a company : the  market is full of suqgestions and the information isoverwhelminq ; but a good  catchy logo , stylish statlonery and outstanding website  will make the task much easier .  we do not promise that havinq ordered a iogo your  company will automaticaily become a world ieader : it isguite ciear that  without good products , effective business organization and practicable aim it  will be hotat nowadays market ; but we do promise that your marketing efforts  will become much more effective . here is the list of clear  benefits : creativeness : hand - made , original logos , specially done  to reflect your distinctive company image . convenience : logo and stationery  are provided in all formats ; easy - to - use content management system letsyou  change your website content and even its structure . promptness : you  will see logo drafts within three business days . affordability : your  marketing break - through shouldn ' t make gaps in your budget . 100 % satisfaction  guaranteed : we provide unlimited amount of changes with no extra fees for you to  be surethat you will love the result of this collaboration . have a look at our  portfolio _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ not interested . . . _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"

rem_special_chars(text)

'subjectnaturallyirresistibleyourcorporateidentityltisreallyhardtorecollectacompanythemarketisfullofsuqgestionsandtheinformationisoverwhelminqbutagoodcatchylogostylishstatloneryandoutstandingwebsitewillmakethetaskmucheasierwedonotpromisethathavinqorderedaiogoyourcompanywillautomaticailybecomeaworldieaderitisguiteciearthatwithoutgoodproductseffectivebusinessorganizationandpracticableaimitwillbehotatnowadaysmarketbutwedopromisethatyourmarketingeffortswillbecomemuchmoreeffectivehereisthelistofclearbenefitscreativenesshandmadeoriginallogosspeciallydonetoreflectyourdistinctivecompanyimageconveniencelogoandstationeryareprovidedinallformatseasytousecontentmanagementsystemletsyouchangeyourwebsitecontentandevenitsstructurepromptnessyouwillseelogodraftswithinthreebusinessdaysaffordabilityyourmarketingbreakthroughshouldntmakegapsinyourbudget100satisfactionguaranteedweprovideunlimitedamountofchangeswithnoextrafeesforyoutobesurethatyouwilllovetheresultofthiscollaborationhavealookatourportfolionotinterested'

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
cv=CountVectorizer(stop_words='english',max_features=10000)

In [64]:
x=cv.fit_transform(df['text']).toarray()

In [65]:
y=df["spam"].values

In [66]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [67]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [68]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4555, 5503)
(1139, 5503)
(4555,)
(1139,)

In [ ]:
from sklearn.naive_bayes import MultinomialNB